<!-- <h1>Notepad</h1> -->
<!--
	une note a les champs suivants
		title
		content
		author
		dateCreation
		dateUpdate
		(label)
	je m'occupe de title et content
-->
<div class = "row">
	

	<div id = 'left' class="col-sm-3">
			<span></span>
			<input type="search" name="search" placeholder="search" class="form-control"> 
			
		
		
	</div>
	<div id = 'right' class="col-sm-9" >
		<div class="btn-group btn-goup-lg"> 
			<button type="button" ng-click="createNote()" class="btn btn-outline ">+</button>
			<button type="button" class="btn btn-outline ">-</button>
		</div>
		<input ng-model= "title" type="text" placeholder="Title" class="form-control"><br>
		
		
		
	</div>

</div>

<div class = "row">
	<div id = 'left' class="col-sm-3">
		<!-- <table class="table table-hover">
		    <thead>
		      <tr>
		        <th>Title</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td>Note 3</td>
		  	  </tr>
		      <tr>
		        <td>Note 2</td>
		      </tr>
		      <tr>
		        <td>Note 1</td>
		     	</tr>
		    </tbody>
		  </table>
 -->
		  <div ng-repeat='notes in note' ng-click=>

		  	<hr>

		  	<p> id: {{notes._id}}</p>

		  	<p> title: {{notes.title}}</p>
		  	
		  	<p> Content: {{notes.content}}</p>
		  </div>
		</div>



	<div id = 'right' class="col-sm-9">
		
		<div class= "form-group">

			<textarea ng-model="content" ng-change="change()"cols="80" rows="20" placeholder="Note" class="form-control"></textarea><br>
			
			
		</div>
		
	</div>
</div>