<!-- <h1>Notepad</h1> -->
<!--
	une note a les champs suivants
		title
		content
		author
		dateCreation
		dateUpdate
		(label)
	je m'occupe de title et content
-->
<div class = "row">
	

	<div id = 'left' class="col-sm-3">
			<span></span>
			<input type="search" name="search" placeholder="search" class="form-control"> 
			
		
		
	</div>
	<div id = 'right' class="col-sm-9" >
		
			<button type="button" ng-click="createNote()" class="btn btn-primary btn-block">+</button>
			<button type="button" ng-click="deleteNote()" class="btn btn-primary btn-block">-</button>
				<input ng-model= "title" type="text" placeholder="Title" class="form-control"><br>
		
		
		
	</div>

</div>

<div class = "row">
	<div id = 'left' class="col-sm-3">
		<table class="table table-responsive-sm">
		    <thead>
		      <tr>
		        <th>Title</th>
		      </tr>
		    </thead>
		    <tbody>
		   	 <div ng-repeat="notes in note | orderBy: 'title'" >
			
		  	<hr>

		  	<button ng-click="transfert(notes)">test</button>

		  	

		  	<p ng-model="notes.title">Title : {{notes.title}}</p>
		  	
		  	<p ng-model="notes.dateCreation">Creation date : {{notes.dateCreation}}</p>

		  	<p ng-model="notes.dateUpdate">Last Update : {{notes.dateUpdate}}</p>

		  	<!-- <p ng-model="currentContent">{{notes.content}}</p> -->
		  </div>


		    </tbody>
		  </table>



		 <!--  <div ng-repeat="notes in note | orderBy: 'title'" >
			
		  	<hr>

		  	<button ng-click="transfert(notes)">test</button>

		  	

		  	<p ng-model="notes.title">Title : {{notes.title}}</p>
		  	
		  	<p ng-model="notes.dateCreation">Creation date : {{notes.dateCreation}}</p>

		  	<p ng-model="notes.dateUpdate">Last Update : {{notes.dateUpdate}}</p>

		  	<!-- <p ng-model="currentContent">{{notes.content}}</p> -->
		  </div> -->
		</div>



	<div id = 'right' class="col-sm-9">
		
		<div class= "form-group">
		
			<textarea ng-model="content"  cols="80" rows="20" placeholder="note" class="form-control">
				{{content}}
			</textarea><br>
			 
			
		</div>
		
	</div>
</div>