<h1>Notepad</h1>
<!--
	une note a les champs suivants
		title
		content
		author
		dateCreation
		dateUpdate
		(label)
	je m'occupe de title et content
-->
<div>
	<input ng-model= "title" type="text" placeholder="Title">
	<textarea ng-model="content" cols="80" rows="20" placeholder="Note"></textarea>
	<!-- input ng-model= "label" type="text" placeholder="Label" -->
	<button ng-click="sendData()">Enregistrez votre note</button>
</div>
<div ng-repeat='aNote in noteList'>
	<hr>
	<p>Titre: {{ aNote.title }}</p>
	<p>Date: {{ aNote.dateUpdate }}</p>
	<p>Message: {{ aNote.content }}</p>
</div>